	.banner {
		background-image: url('../../assets/img/banner-home.png');
		background-size: cover;
		border-radius: 1.5rem;
		overflow: hidden;
		height: 223px;

		&__title {
			background-color: rgba(0, 0, 0, 0.397);
			height: 223px;
			color: white;
			font-size: 3rem;
			text-align: center;
			padding-top: 5rem;
			padding-bottom: 5rem;

			@include tablet{
				font-size: 2rem;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}