.error404 {
	color: $red;
  min-height: 50vh;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;


	.title {
		font-size: 10rem;
	}

	.subtitle {
		font-size: 2rem;
	}

	.link {
		color: $red;
		text-decoration: underline;
	}

}