.home {

	.home-body {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.thumb-list {
		background-color: $gray;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 3.7rem;
		padding: 3rem;
		border-radius: 0.75rem;
		margin-top: 2rem;
	}

}